@charset "UTF-8";
/* LYG */
/*reset*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,300,700");
header .brand-area h1 {
  margin: 0;
  padding: 0;
}

header ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.content.welcome h2, .content.involve .involve-inner h2 {
  margin: 0;
  padding: 0;
}

.stater-list,
.footer p,
.breadcrumb {
  margin: 0;
  padding: 0;
}

.content p {
  margin: 0;
  padding: 0;
}

.content.stater .start-guide dl, .content.stater .start-guide dd {
  margin: 0;
  padding: 0;
}

.footer h3, .footer ul {
  margin: 0;
  padding: 0;
}

.footer-copy p, .footer .footer-text, .content.support .xe-col-md-4 .support-txt .table-txt dl, .snb ul, .plugin-area ul, .item-slide-text p {
  margin: 0;
  padding: 0;
}

.content.welcome .link-info, .content.involve .involve-inner a {
  text-decoration: none;
}

header a {
  text-decoration: none;
}

.footer .menu-list li a, .footer h3 a, .footer .footer-copy a {
  text-decoration: none;
}

nav .nav-list {
  text-decoration: none;
}

.link-brand, .content.support .xe-col-md-4 .support-txt .table-txt a, .sub-container .snb li a, .footer a, .breadcrumb a {
  text-decoration: none;
}

.stater-list, .footer ul, .snb li, .plugin-area li, .breadcrumb li {
  list-style: none;
}

body,
input,
select,
table,
textarea {
  font-family: "애플 SD 산돌고딕 Neo","Apple SD Gothic Neo",AppleGothic,Helvetica,sans-serif;
  color: #101010;
  font-size: 13px;
}

/*desktop 분기*/
body.desktop {
  font-family: 'Open Sans','나눔바른고딕',NanumBarunGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
}

body.desktop input,
body.desktop select,
body.desktop table,
body.desktop textarea {
  font-family: 'Open Sans','나눔바른고딕',NanumBarunGothic,'맑은 고딕','Malgun Gothic','돋움',Dotum,'애플 SD 산돌고딕 Neo','Apple SD Gothic Neo',AppleGothic,Helvetica,sans-serif;
}

html {
  left: 0;
  right: 0;
}

.skip {
  margin: 0;
  padding: 0;
}

.skip > a {
  position: relative;
  overflow: hidden;
  display: block;
  height: 0;
  line-height: 28px;
  background-color: #fff;
  text-align: center;
  z-index: 1000;
}

.skip > a:focus {
  height: auto;
}

.transition {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.dim {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  background: #010101;
  opacity: 0.5;
  cursor: pointer;
}

.btn-slide {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 48px;
  height: 48px;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 26px;
  color: #A4A4A4;
  z-index: 999;
  cursor: pointer;
}

header {
  position: relative;
  height: 60px;
}

header .brand-area h1 a {
  color: #42a2c5;
  font-size: 17px;
  line-height: 60px;
}

header .brand-area h1 a img {
  max-width: 80px;
  max-height: 30px;
  margin-top: 13px;
}

header .btn-close-header {
  position: absolute;
  left: -50px;
  top: 5px;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  z-index: 110;
}

header.open nav {
  left: 0;
}

header.open .btn-close-header {
  left: 260px;
}

header > div .brand-area {
  text-align: center;
}

header > div nav {
  overflow: hidden;
  overflow-y: auto;
  position: fixed;
  left: -260px;
  top: 0;
  bottom: 0;
  width: 260px;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  border-right: 1px solid #e3e3e3;
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
}

header > div nav .nav-list {
  margin: 30px 0 63px;
}

header > div nav .nav-list li a {
  display: block;
  padding: 10px 30px;
  font-size: 19px;
  color: #101010;
}

header > div nav .nav-list li.on a, header > div nav .nav-list li.open-fixed a {
  color: #42a2c5;
}

header > div nav .nav-list li.sub-menu.open > a {
  color: #42a2c5;
}

header > div nav .nav-list li.sub-menu.open > a::after {
  border-color: #42a2c5 transparent transparent transparent;
}

header > div nav .nav-list li.sub-menu.open > .sub-wrap {
  padding: 10px 0;
}

header > div nav .nav-list li.sub-menu > a {
  position: relative;
}

header > div nav .nav-list li.sub-menu > a::after {
  display: inline-block;
  position: absolute;
  right: 30px;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -2px;
  border-style: solid;
  border-width: 4px;
  border-color: #000 transparent transparent transparent;
  content: "";
}

header > div nav .nav-list li.sub-menu > .sub-wrap {
  background-color: #dae8f2;
}

header > div nav .nav-list li.sub-menu .sub-menu-list {
  display: none;
}

header > div nav .nav-list li.sub-menu .sub-menu-list a {
  font-size: 17px;
  color: #8b8b8b;
}

header > div nav .nav-list li.sub-menu .sub-menu-list a:after {
  border-color: #8b8b8b transparent transparent transparent;
}

header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open > a {
  color: #101010;
}

header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open > a:after {
  border-color: #101010 transparent transparent transparent;
}

header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open .sub-wrap {
  padding: 15px 0;
}

header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu .sub-wrap .sub-menu-list a {
  padding: 7px 40px;
  color: #101010;
  font-size: 15px;
}

header > div nav .nav-list li.sub-menu.open-fixed > .sub-wrap > div > .sub-menu-list {
  display: block;
}

header > div .auth-group {
  margin: 0 0 30px 30px;
}

header > div .auth-group ul {
  font-size: 0;
}

header > div .auth-group ul li {
  display: inline-block;
  position: relative;
  padding: 0 10px;
}

header > div .auth-group ul li a {
  line-height: normal;
  color: #a5a5a5;
  font-size: 15px;
}

header > div .auth-group ul li a i {
  vertical-align: top;
  padding-top: 2px;
  font-size: 16px;
  color: #d8d8d8;
}

header > div .auth-group ul li a i:hover {
  color: #42a2c5;
}

header > div .auth-group ul li.member-name a {
  color: #101010;
  font-weight: 600;
}

header > div .auth-group ul li.member-name a:after {
  position: absolute;
  top: 50%;
  right: -1px;
  width: 3px;
  height: 3px;
  margin-top: 0px;
  background-color: #d8d8d8;
  border-radius: 2px;
  content: "";
}

header > div .auth-group ul li.li-block {
  display: block;
  padding-top: 10px;
}

.main-wrap {
  position: relative;
}

.main-wrap:before {
  content: "";
  display: table;
}

.main-wrap .sub-banner {
  width: 100%;
  height: 240px;
  background-position: 50% 50%;
  background-size: cover;
}

.main-wrap .sub-banner > .xe-container {
  position: relative;
  height: 100%;
}

.main-wrap .sub-banner > .xe-container > div {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

.main-wrap .sub-banner > .xe-container > div h2 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 32px;
  color: #fff;
  font-weight: 300;
}

.main-wrap .sub-banner > .xe-container > div .breadcrumb {
  position: absolute;
  right: 15px;
  top: 35px;
}

.main-wrap .sub-banner > .xe-container > div .breadcrumb li {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  color: #fff;
}

.main-wrap .sub-banner > .xe-container > div .breadcrumb li::after {
  position: absolute;
  left: 3px;
  top: 50%;
  width: 6px;
  height: 6px;
  margin-top: -2px;
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  background-color: transparent;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  content: "";
}

.main-wrap .sub-banner > .xe-container > div .breadcrumb li:first-child {
  padding-left: 0;
}

.main-wrap .sub-banner > .xe-container > div .breadcrumb li:first-child::after {
  border-color: transparent;
}

.main-wrap .sub-banner > .xe-container > div .breadcrumb li a {
  font-size: 15px;
  color: #fff;
}

.main-wrap .sub-banner > .xe-container > div .breadcrumb li a:hover {
  text-decoration: underline;
}

.main-wrap .sub-content {
  margin-top: 50px;
  margin-bottom: 80px;
}

.main-wrap .footer {
  padding: 21px 0;
  font-size: 12px;
  color: #a5a5a5;
  text-align: center;
}

.main-wrap .footer p {
  margin-bottom: 5px;
}

.main-wrap .footer a {
  color: #a5a5a5;
}

.main-wrap .footer em {
  font-style: normal;
  font-weight: 600;
}

.main-wrap .footer em a {
  color: #42a2c5;
}

.no-banner .sub-banner {
  height: auto;
  background-image: none !important;
}

.no-banner .sub-banner > .xe-container > div h2 {
  display: none;
}

.no-banner .sub-banner > .xe-container > div .breadcrumb {
  position: static;
  margin-top: 30px;
  text-align: left;
}

.no-banner .sub-banner > .xe-container > div .breadcrumb li::after {
  border-top: 1px solid #8b8b8b;
  border-right: 1px solid #8b8b8b;
}

.no-banner .sub-banner > .xe-container > div .breadcrumb li a {
  color: #8b8b8b;
}

.no-banner .sub-banner > .xe-container > div .breadcrumb li.on {
  color: #42a2c5;
}

.no-banner .sub-content {
  margin-top: 50px;
}

.pull-bg .main-wrap {
  background: url(../img/bg_contact.jpg) 50% 0 no-repeat;
  background-size: cover;
  min-height: 100%;
  height: 100%;
}

.pull-bg .main-wrap .breadcrumb {
  display: none;
}

.pull-bg .main-wrap .sub-content {
  margin-top: 136px;
  margin-bottom: 150px;
}

.owl-slider .item-slide {
  height: 440px;
  background-size: cover;
}

.owl-slider .item-slide .item-slide-text {
  padding: 55px 15px 0;
}

.owl-slider .item-slide .item-slide-text p {
  margin-bottom: 35px;
  font-size: 33px;
  font-weight: 300;
}

.owl-slider .item-slide .item-slide-text strong {
  font-size: 25px;
}

.owl-slider .owl-stage {
  padding-left: 0 !important;
}

.owl-slider .owl-controls .owl-nav {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  color: #fff;
  width: 100%;
  opacity: 0;
}

.owl-slider .owl-controls .owl-nav .owl-prev,
.owl-slider .owl-controls .owl-nav .owl-next {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  margin-left: 60px;
  background-color: #F0F2F5;
  background-color: rgba(255, 255, 255, 0.5);
  text-indent: -9999px;
  font-size: 0;
}

.owl-slider .owl-controls .owl-nav .owl-prev:after,
.owl-slider .owl-controls .owl-nav .owl-next:after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 16px;
  height: 16px;
  margin: -8px 0 0 -4px;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  background-color: transparent;
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
  content: "";
}

.owl-slider .owl-controls .owl-nav .owl-next {
  float: right;
  margin-left: auto;
  margin-right: 60px;
}

.owl-slider .owl-controls .owl-nav .owl-next:after {
  margin-left: -11px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.owl-slider .owl-controls .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  text-align: center;
}

.owl-slider .owl-controls .owl-dot {
  display: inline-block;
  zoom: 1;
  display: inline;
  height: 30px;
  margin: 5px 4px;
}

.owl-slider .owl-controls .owl-dot span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 50%;
  vertical-align: middle;
}

.owl-slider .owl-controls .owl-dot.active span {
  width: 28px;
  background-color: #42a2c5;
  border-radius: 7px;
}

.owl-slider.owl-bottom {
  background-color: #36373C;
}

.owl-slider.owl-bottom .item-slide {
  height: auto;
  padding-top: 90px;
}

.owl-slider.owl-bottom .item-slide .item-slide-text {
  min-height: 110px;
  padding: 145px 15px 33px;
  background-size: 187px 108px;
  background-position: 50% 0;
  background-repeat: no-repeat;
  text-align: center;
}

.owl-slider.owl-bottom .item-slide .item-slide-text strong {
  display: block;
  margin-bottom: 5px;
  font-size: 36px;
  color: #42a2c5;
  font-weight: 300;
}

.owl-slider.owl-bottom .item-slide .item-slide-text p {
  margin-bottom: 0;
  font-size: 17px;
  line-height: 24px;
  color: #b1b1b1;
}

.owl-slider.owl-bottom .owl-dots {
  top: 34px;
  bottom: auto;
}

.owl-slider.owl-bottom .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
}

.owl-slider.owl-bottom .owl-dots .owl-dot.active span {
  width: 26px;
}

@media (min-width: 992px) {
  header {
    display: table;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 200px;
    height: 100%;
    z-index: 999;
    background-color: #fff;
    border-right: 1px solid #e3e3e3;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    height: 100%;
  }
  header .brand-area h1 a {
    font-size: 25px;
  }
  header .brand-area h1 a img {
    max-width: 120px;
    max-height: 50px;
    margin-top: 0;
  }
  header .btn-close-header {
    display: none !important;
  }
  header > div {
    display: table-cell;
    vertical-align: middle;
  }
  header > div nav {
    position: static;
    display: table-cell;
    left: 0;
    width: 200px;
    overflow: visible;
    text-align: center;
    vertical-align: middle;
    border-right: none;
  }
  header > div nav .brand-area {
    margin: 0;
  }
  header > div nav .nav-list {
    margin: 50px 0 50px;
  }
  header > div nav .nav-list li a {
    display: block;
    padding: 12px 5px;
    font-size: 15px;
  }
  header > div nav .nav-list li a:hover {
    color: #42a2c5 !important;
  }
  header > div nav .nav-list li.sub-menu .sub-wrap {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 150px;
    text-align: center;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  header > div nav .nav-list li.sub-menu.open > .sub-wrap,
  header > div nav .nav-list li.sub-menu.open-fixed > .sub-wrap {
    display: block;
    background-color: rgb(red(#dae8f2), 232, 242 );
    background-color: rgba(218, 232, 242, 0.8);
    left: 100%;
  }
  header > div nav .nav-list li.sub-menu.open > .sub-wrap > div,
  header > div nav .nav-list li.sub-menu.open-fixed > .sub-wrap > div {
    display: table;
    width: 100%;
    height: 100%;
  }
  header > div nav .nav-list li.sub-menu.open > .sub-wrap > div > .sub-menu-list,
  header > div nav .nav-list li.sub-menu.open-fixed > .sub-wrap > div > .sub-menu-list {
    display: table-cell;
    vertical-align: middle;
  }
  header > div nav .nav-list li.sub-menu > a::after {
    border-color: transparent !important;
  }
  header > div nav .nav-list li.sub-menu .sub-menu-list {
    display: block;
  }
  header > div nav .nav-list li.sub-menu .sub-menu-list a {
    font-size: 15px;
    color: #101010;
  }
  header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open > a {
    color: #42a2c5;
  }
  header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open .sub-wrap {
    position: relative;
    padding: 17px 0;
    left: auto;
    background-color: transparent;
  }
  header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open .sub-wrap::after {
    position: absolute;
    left: 50%;
    top: 6px;
    width: 20px;
    height: 1px;
    margin-left: -10px;
    background-color: #42a2c5;
    content: "";
  }
  header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open .sub-wrap .sub-menu-list a {
    padding: 6px 5px;
    font-size: 13px;
    color: #8b8b8b;
  }
  header > div nav .nav-list li.open > .sub-wrap {
    background-color: transparent;
  }
  header > div .auth-group {
    margin: 0;
  }
  header > div .auth-group li a {
    font-size: 13px;
  }
  header.depth-fixed + .main-wrap {
    margin-left: 348px;
  }
  .main-skin header.depth-open + .main-wrap {
    margin-left: 200px;
  }
  .main-wrap {
    margin-left: 200px;
  }
  .main-wrap .footer p {
    display: inline-block;
    margin: 0 40px 0 0;
  }
  .owl-slider .owl-controls .owl-nav {
    display: block;
  }
  .owl-slider .owl-controls .owl-dots {
    left: 130px;
    text-align: left;
  }
  .owl-slider .item-slide {
    height: 700px;
  }
  .owl-slider .item-slide .item-slide-text {
    padding: 140px 0 0 130px;
  }
  .owl-slider .item-slide .item-slide-text p {
    margin-bottom: 30px;
    font-size: 42px;
    line-height: 59px;
    letter-spacing: -0.025em;
  }
  .owl-slider.owl-bottom .item-slide {
    padding: 48px 0;
  }
  .owl-slider.owl-bottom .item-slide .item-slide-text {
    max-width: 580px;
    margin: 0 auto;
    padding: 0 0 0 245px;
    background-position: 0 0;
    text-align: left;
  }
  .owl-slider.owl-bottom .owl-dots {
    top: 24px;
    left: 30px;
    bottom: auto;
  }
}

body.red-theme header .brand-area h1 a {
  color: #d52b2b;
}

body.red-theme header > div nav .nav-list li.on > a, body.red-theme header > div nav .nav-list li.open-fixed > a {
  color: #d52b2b;
}

body.red-theme header > div nav .nav-list li.sub-menu.open > a {
  color: #d52b2b;
}

body.red-theme header > div nav .nav-list li.sub-menu.open > a::after {
  border-color: #d52b2b transparent transparent transparent;
}

body.red-theme header > div nav .nav-list li.sub-menu > .sub-wrap {
  background-color: rgb(red(#e8e8e8), 232, 232 );
  background-color: rgba(232, 232, 232, 0.8);
}

body.red-theme .main-wrap .footer em a {
  color: #d52b2b;
}

body.red-theme .no-banner .sub-banner > .xe-container > div .breadcrumb li.on {
  color: #d52b2b;
}

body.red-theme .owl-slider .owl-controls .owl-dot.active span {
  background-color: #d52b2b;
}

body.red-theme .owl-slider.owl-bottom .item-slide .item-slide-text strong {
  color: #d52b2b;
}

body.red-theme .boram-widget-group .widget-board-list .boram-widget .widget-board-content li > a:hover em {
  color: #d52b2b;
}

body.red-theme .boram-widget-group .widget-direct-link .boram-widget strong {
  color: #d52b2b;
}

body.red-theme .boram-widget-group .widget-direct-link.v2 {
  background-color: #e8e8e8;
}

body.red-theme .boram-contact-form h3 {
  color: #d52b2b;
}

body.red-theme .boram-contact-form .btn-contact {
  background-color: #d52b2b;
}

@media (min-width: 992px) {
  body.red-theme header > div nav .nav-list li a:hover {
    color: #d52b2b !important;
  }
  body.red-theme header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open > a {
    color: #d52b2b;
  }
  body.red-theme header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open .sub-wrap::after {
    background-color: #d52b2b;
  }
}

body.yellow-theme header .brand-area h1 a {
  color: #ffac1b;
}

body.yellow-theme header > div nav .nav-list li.on > a, body.yellow-theme header > div nav .nav-list li.open-fixed > a {
  color: #ffac1b;
}

body.yellow-theme header > div nav .nav-list li.sub-menu.open > a {
  color: #ffac1b;
}

body.yellow-theme header > div nav .nav-list li.sub-menu.open > a::after {
  border-color: #ffac1b transparent transparent transparent;
}

body.yellow-theme header > div nav .nav-list li.sub-menu > .sub-wrap {
  background-color: rgb(red(#fff3d0), 243, 208 );
  background-color: rgba(255, 243, 208, 0.8);
}

body.yellow-theme .main-wrap .footer em a {
  color: #ffac1b;
}

body.yellow-theme .no-banner .sub-banner > .xe-container > div .breadcrumb li.on {
  color: #ffac1b;
}

body.yellow-theme .owl-slider .owl-controls .owl-dot.active span {
  background-color: #ffac1b;
}

body.yellow-theme .owl-slider.owl-bottom .item-slide .item-slide-text strong {
  color: #ffac1b;
}

body.yellow-theme .boram-widget-group .widget-board-list .boram-widget .widget-board-content li > a:hover em {
  color: #ffac1b;
}

body.yellow-theme .boram-widget-group .widget-direct-link .boram-widget strong {
  color: #ffac1b;
}

body.yellow-theme .boram-widget-group .widget-direct-link.v2 {
  background-color: #fff3d0;
}

body.yellow-theme .boram-contact-form h3 {
  color: #ffac1b;
}

body.yellow-theme .boram-contact-form .btn-contact {
  background-color: #ffac1b;
}

@media (min-width: 992px) {
  body.yellow-theme header > div nav .nav-list li a:hover {
    color: #ffac1b !important;
  }
  body.yellow-theme header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open > a {
    color: #ffac1b;
  }
  body.yellow-theme header > div nav .nav-list li.sub-menu .sub-menu-list .sub-menu.open .sub-wrap::after {
    background-color: #ffac1b;
  }
}

.xe-grid-no-padding div[class*="col-"] {
  padding: 0 !important;
}

.boram-widget-group {
  position: relative;
}

.boram-widget-group .boram-widget {
  min-height: 550px;
  border-bottom: 1px solid #E3E3E3;
}

.boram-widget-group .widget-board-list .boram-widget {
  padding: 5px 20px 20px 20px;
  color: #101010;
  font-size: 15px;
}

.boram-widget-group .widget-board-list .boram-widget ul, .boram-widget-group .widget-board-list .boram-widget p {
  margin: 0;
  padding: 0;
  list-style: none;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-header {
  overflow: hidden;
  padding: 5px 0;
  border-bottom: 1px solid #e3e3e3;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-header strong {
  line-height: 35px;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-header .xe-btn-link {
  color: #D7D7D7;
  font-size: 17px;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-content {
  padding-top: 24px;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-content li {
  margin-top: 30px;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-content li:first-child {
  margin-top: 0;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-content li > a {
  display: block;
  text-decoration: none;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-content li > a em {
  font-size: 18px;
  font-style: normal;
  color: #333;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-content li > a:hover em {
  color: #42a2c5;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-content li > a p {
  margin: 10px 0;
  color: #949494;
}

.boram-widget-group .widget-board-list .boram-widget .widget-board-content li > a span {
  color: #7a7a7a;
}

.boram-widget-group .widget-direct-link .boram-widget {
  padding: 20px;
  background: url(../img/widget_bg_img.png) 100% 100% no-repeat;
  background-size: 329px 233px;
}

.boram-widget-group .widget-direct-link .boram-widget strong {
  display: block;
  font-weight: 300;
  font-size: 30px;
  line-height: 46px;
  color: #42a2c5;
  margin-bottom: 35px;
}

.boram-widget-group .widget-direct-link .boram-widget a {
  font-size: 18px;
  color: #868686;
  text-decoration: none;
}

.boram-widget-group .widget-direct-link .boram-widget a i {
  margin-left: 9px;
}

.boram-widget-group .widget-direct-link.v2 {
  background-color: #dae8f2;
}

.boram-widget-group .widget-direct-link.v2 .boram-widget {
  background: url(../img/widget_bg_img2.png) 100% 100% no-repeat;
  background-size: 327px 444px;
}

@media (min-width: 992px) {
  .boram-widget-group .boram-widget {
    border-right: 1px solid #E3E3E3;
    border-bottom: none;
  }
  .boram-widget-group .widget-board-list .boram-widget {
    padding: 25px 40px 40px 40px;
  }
  .boram-widget-group .widget-direct-link.v2 {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
  }
}

.boram-contact-form {
  color: #fff;
}

.boram-contact-form .contact-title {
  margin-bottom: 100px;
  text-align: center;
}

.boram-contact-form .contact-title h2 {
  margin: 0;
  font-size: 40px;
  color: #fff;
  font-weight: 300;
}

.boram-contact-form .contact-title p {
  margin: 30px 0 0;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

.boram-contact-form h3 {
  margin: 0 0 20px;
  font-size: 15px;
  color: #42a2c5;
}

.boram-contact-form .contact-info dl {
  font-size: 15px;
}

.boram-contact-form .contact-info dl dt {
  margin-bottom: 10px;
}

.boram-contact-form .contact-info dl dd {
  margin: 0 0 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  line-height: 24px;
}

.boram-contact-form .contact-info dl dd a {
  margin-right: 8px;
}

.boram-contact-form .contact-info dl dd a i[class*="xi-"] {
  color: #fff;
  font-size: 20px;
}

.boram-contact-form .xe-form-group {
  margin-bottom: 14px;
}

.boram-contact-form .xe-form-group .xe-form-control {
  border-radius: 0;
  font-size: 15px;
  color: #b0b0b0;
}

.boram-contact-form .xe-form-group .xe-form-control.xe-input-lg {
  height: 40px;
}

.boram-contact-form .btn-contact {
  width: 100px;
  height: 40px;
  margin-top: 10px;
  background-color: #42a2c5;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 15px;
}

@media (min-width: 1126px) {
  .boram-contact-form .contact-info {
    float: right;
    width: 375px;
    margin-right: 50px;
  }
}

/*# sourceMappingURL=layout.css.map */
