//
// Variables
// --------------------------------------------------

$default-color:              #42a2c5 !default;
$default-bg-color:           #dae8f2 !default;
$red-color:                  #d52b2b !default;
$red-bg-color:               #e8e8e8 !default;
$yellow-color:               #ffac1b !default;
$yellow-bg-color:            #fff3d0 !default;
